{% extends "base.html" %}
{% block title %}My Web Site{% endblock %}
{% block main %}
    <div class="jumbotron">
        <h1>Hello , Hacker !!</h1>
        <p>這是測試頁...</p>
    </div>
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col">
                <h2>左側</h2>
            </div>
            <div class="col">
                <h2>中間</h2>
            </div>
            <div class="col">
                <h2>右側</h2>
            </div>
        </div>
    </div>
{% endblock %}